<%- include('partials/_header') -%>

    <body>
        <div class="tm-page-wrap mx-auto">
            <div class="position-relative">
                <%- include('partials/_navigation') -%>
                    <div class="tm-welcome-container tm-fixed-header tm-fixed-header-2">
                        <div class="text-center">
                            <p class="pt-5 px-3 tm-welcome-text tm-welcome-text-2 mb-1 mt-lg-0 mt-5 text-white mx-auto">
                                Another Image BG<br>it can be fixed.<br>Content will simply slide over.</p>
                        </div>
                    </div>

                    <div id="tm-fixed-header-bg"></div> <!-- Header image -->
            </div>

            <!-- Page content -->
            <main>
                <div class="container-fluid px-0">
                    <div class="mx-auto tm-content-container">
                        <div class="row mt-3 mb-5 pb-3">
                            <div class="col-12">
                                <div class="mx-auto tm-about-text-container px-3">
                                    <h2 class="tm-page-title mb-4 tm-text-primary">About the Video Catalog</h2>
                                    <p class="mb-4">Video Catalog is free HTML CSS template for your website. This
                                        Bootstrap v4.4.1 website template is 100% free download for everyone. You can
                                        modify and expand this template for your CMS websites. You can use it for
                                        commercial or non-commercial work. If you wish to support <a
                                            href="https://templatemo.com" class="tm-text-primary">TemplateMo</a>, please
                                        contact us.</p>
                                    <p class="mb-4">You are <u>not allowed</u> to re-distribute the template ZIP file on
                                        any template collection website.</p>
                                    <p class="mb-4">Cake ice cream tiramisu shortbread tart tiramisu cookie carrot cake
                                        icing. Cake soufflé cheesecake oat cake macaroon cookie bear claw donut chupa
                                        chups. Chocolate cake cheesecake pie brownie muffin lemon drops lollipop muffin
                                        chocolate. Cupcake chocolate cupcake jujubes apple pie pudding halvah wafer
                                        fruitcake.</p>
                                    <p class="mb-0">Bear claw pie oat cake shortbread jelly. Gingerbread cake marzipan
                                        sweet cotton candy bonbon marshmallow chupa chups. Shortbread oat cake
                                        gingerbread ice cream muffin chocolate bar chocolate bar. Cheesecake soufflé
                                        tootsie roll jelly-o tart.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="parallax-window" data-parallax="scroll" data-image-src="img/about-2.jpg"></div>

                    <div class="mx-auto tm-content-container mt-4 px-3">
                        <div class="row tm-catalog-item-list mb-4">
                            <div class="col-lg-4 col-md-6 col-sm-12 tm-catalog-item">
                                <div class="tm-bg-gray p-4">
                                    <i class="fas fa-headphones fa-5x p-3 mb-4 tm-about-icon"></i>
                                    <h3 class="tm-text-primary mb-3">roll chocolate</h3>
                                    <p>Muffin marshmallow gummi bears tart danish bear claw danish. Fruitcake oat cake
                                        carrot cake sesame snaps jelly tart chocolate wafer. Candy canes wafer candy
                                        chocolate cake sweet .
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12 tm-catalog-item">
                                <div class="tm-bg-gray p-4">
                                    <i class="fas fa-broadcast-tower fa-5x p-3 mb-4 tm-about-icon"></i>
                                    <h3 class="tm-text-primary mb-3">Cotton candy</h3>
                                    <p> marshmallow shortbread halvah soufflé. Cotton candy cookie gingerbread pie
                                        jujubes powder cookie. Sesame snaps macaroon marshmallow bonbon wafer cheesecake
                                        icing. Chupa chups topping chupa chups toffee cookie.</p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12 tm-catalog-item">
                                <div class="tm-bg-gray p-4">
                                    <i class="fas fa-film fa-5x p-3 mb-4 tm-about-icon"></i>
                                    <h3 class="tm-text-primary mb-3">gummi bears</h3>
                                    <p>Cupcake caramels pastry tiramisu lollipop. Gingerbread tart croissant marzipan
                                        oat cake gummies. Cake chupa chups gummi bears icing toffee. Topping cotton
                                        candy cotton candy tootsie roll marshmallow.</p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12 tm-catalog-item">
                                <div class="tm-bg-gray p-4">
                                    <i class="far fa-map fa-5x p-3 mb-4 tm-about-icon"></i>
                                    <h3 class="tm-text-primary mb-3">donut powder</h3>
                                    <p>Chocolate cake cheesecake candy sugar plum jelly-o marshmallow oat cake jelly-o.
                                        Gummies cotton candy jelly-o marshmallow wafer. Chocolate cake marshmallow
                                        dessert jujubes jelly-o cheesecake.</p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12 tm-catalog-item">
                                <div class="tm-bg-gray p-4">
                                    <i class="fas fa-rainbow fa-5x p-3 mb-4 tm-about-icon"></i>
                                    <h3 class="tm-text-primary mb-3">lemon drops</h3>
                                    <p>Cake cake apple pie soufflé dragée lollipop shortbread. Gummies chupa chups
                                        pastry chupa chups sweet ice cream gummies gummies bear claw. Powder macaroon
                                        cheesecake icing biscuit jujubes. Soufflé halvah oat cake shortbread tiramisu.
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12 tm-catalog-item">
                                <div class="tm-bg-gray p-4">
                                    <i class="fas fa-cloud-sun-rain fa-5x p-3 mb-4 tm-about-icon"></i>
                                    <h3 class="tm-text-primary mb-3">cake pudding</h3>
                                    <p>Jujubes soufflé dragée oat jujubes chocolate cake sweet. Chupa chups sweet ice
                                        cream chupa chups danish cake topping marzipan. Chocolate biscuit shortbread
                                        chocolate bar marzipan gummi bears candy canes powder donut.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="parallax-window" data-parallax="scroll" data-image-src="img/about-3.jpg"></div>
                </div>
            </main>

            <div class="container-fluid tm-content-container mx-auto pt-5">
                <%- include('partials/_footer') -%>
                    <script src="/js/parallax.min.js"></script>
    </body>

    </html>